.input-simple::placeholder {
  color: #ffffff98
}

.input-aerieNights::placeholder {
  color: #ffffff98
}

.input-agents::placeholder {
  color: #85bbee8c
}

.input-keepers::placeholder {
  color: #f7ffac93
}

.input-sentinels::placeholder {
  color: #f3fbff8e
}

.input-vipers::placeholder {
  color: #83ff7f96
}

.input-purple::placeholder {
  color: #ffffff98
}